@font-face {
  font-family: pier-bold;
  src: url(pier-bold.otf);
}

@font-face {
  font-family: commentFont;
  src: url(FrancoisOne.ttf);
}

@font-face {
  font-family: osp-din;
  src: url(OSP-DIN.ttf);
}

body{
  margin: 0 auto;
}

#backgroundWrapper{
  display: inline-block;
  position: relative;
}

img{
  width: 100vw;
  height: auto;
}

#backgroundWrapper img + #container{
  position: absolute;
  top: 0;
  left: 0;
}

#container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.topBlock{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

p{
  font-family: commentFont;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
  color: rgb(111, 0, 18);
}

p.biggestComment{
  font-size: 7.5vw;
  font-weight: bolder;
  line-height: 6.5vw;
  padding-top: 6.6vw;
  padding-bottom: 0.2vw;
}

p.bigComment{
  font-size: 5.2vw;
  font-weight: bolder;
  padding-top: 3vw;
  margin-bottom: -0.8vw;
}

p.smallLegend1{
  font-size: 1.1vw;
}

div.columns{
  position: relative;
  top: 0;
  left: 0;
  flex: 2;
  display: flex;
  padding-top: -2vw;
}

div div.columnLeft, div div.columnRight{
  flex: 1;
  flex-direction: column;
}

div div.columnLeft{
  padding-right: 5vw;
}

div div.columnRight{
  padding-left: 5vw;
}

div.bottomBlock{
  padding-top: 7vw;
  position: relative;
  top: 0;
  left: 0;
  flex: 1;
  flex-direction: column;
}
div.bottomTitle{
  z-index: 0;
  position: relative;
  top: 0;
  left: 0;
}

p.filmTitle{
  font-family: pier-bold;
  font-size: 9.7vw;
  font-weight: bold;
  padding-top: 0.5vw;
}

p.smallLegend2{
  font-size: 2vw;
  color: silver;
}

p.smallLegend3{
  font-size: 2.5vw;
  color: silver;
  line-height: 2.3vw;
  font-family: osp-din;
  padding: 0 10vw;
  margin-top: -1.5vw;
}

p.smallLegend4{
  font-size: 2.3vw;
  color: silver;
  font-family: pier-bold;
  margin-top: 1vw;
}

p.smallLegend5{
  font-size: 3.6vw;
  color: grey;
  font-family: pier-bold;
  margin-top: 2vw;
}

div.stamp{
  z-index: 1;
  position: absolute;
  top: 6vw;
  right: 13vw;
  border: 1px solid black;
  border-radius: 5%;
  font-family: pier-bold;
  display: inline-flex;
}

p.ratingNumber{
  font-size: 2vw;
  color: black;
  margin: auto;
  padding: 0.3vw;
}

p.stampText{
  font-size: 1.2vw;
  color: black;
  margin: auto;
  padding: 0.3vw;
  line-height: 1.1vw;
}
